.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageHeading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.postsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightblue;
}

.postListItem {
  border: 2px solid gray;
  margin: 30px;
  width: 400px;
  height: 225px;
}

.postListItem:hover {
  background-color:lightgray ;
  color: white;
}

.postTitle {
  font-family:'Courier New', Courier, monospace;
  padding: 10px;
  text-align: center;
}

.postPageWrapper {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  align-items: center;
}

.postContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%
}

.buttonSection {
  align-self: flex-end;
  padding: 10px;
}

.postContent {
  border: solid 2px gray;
  margin: 10px;
  padding: 10px;
  background-color: white;
}

.commentsHeading {
  padding: 0px 10px;
}

.commentWrapper {
  border: dotted 2px gray;
  margin: 10px;
  padding: 10px;
  background-color: white;
}

.noLinkStyle {
  text-decoration: none;
  color: black;
}

.noListStyle {
  display: block;
  padding: 10px;
}

.homePageImg {
  width: 100px;
}

.topOfPost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.postImage {
  width: 400px;
}

.commentsHeading {
  padding: 0px 10px;
}