.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageHeading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.postsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.postListItem {
  border: 2px solid black;
  margin: 30px;
  width: 250px;
  height: 225px;
}

.postListItem:hover {
  background-color:orange ;
  color: white;
}

.postTitle {
  font-family:'Courier New', Courier, monospace;
  padding: 10px;
  text-align: center;
}

.postContentWrapper {
  display: flex;
  flex-direction: column;
}

.buttonSection {
  align-self: flex-end;
  padding: 10px;
}

.postContent {
  border: solid 2px black;
  margin: 10px;
  padding: 10px;
}

.commentsHeading {
  padding: 0px 10px;
}

.commentWrapper {
  border: dotted 2px black;
  margin: 10px;
  padding: 10px;
}

.noLinkStyle {
  text-decoration: none;
  color: black;
}

.noListStyle {
  display: block;
}